.tweet-container {
  display: flex;
  justify-content: center;
  background-color: #cab987;
  flex-direction: column;
  border-top: rgb(46, 48, 49);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  width: auto;
  margin-bottom: 1em;
}

.tweet-container:hover * {
  font-weight: bolder;
  visibility: visible;
}

.tweet-container:hover{
  box-shadow: 10px 10px lightslategray;
}

.namehandle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.feedfooter {
  display: flex;
  font-size: small;
  padding: 1em;
  flex-direction: row;
  justify-content: space-between;
}

.borderline {
  border-top: rgb(46, 48, 49);
  border-style: solid;
  border-width: 2px 0 0 0;
  margin-left: .5em;
  margin-right: .5em;
}

.realname{
  font-weight: 350;
  font-size: medium;
  margin-left: 1em;
}

.handle{
  display: flex;
  font-weight: 600;
  font-size: medium;
  justify-content: flex-end;
  opacity: .5;
  visibility: hidden;
}

.nameandimage {
  display: flex;
  align-items: center;
}


.actualtweet {
  padding: 1em;
  font-size: large;
  font-weight: 400;
}

.dateofpost {
  display: flex;
  align-items: flex-start;
}
