.container {
  display: flex;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.lastline{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 3%;
  border-bottom: rgb(46, 48, 49);
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  padding-top: .5em;
}

.namehandle {
  display: flex;
  flex-direction: row;
}

.counter{
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee';
}

.input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button{
  font-family: "Bungee";
  background-color: #4056A1;
  
}
#tweet-text{
  background-color: #cab987;
  width: 100%;
}

.label{
  padding-bottom: 1em;
}